<!DOCTYPE html >
<html>
<head>
  <title>Meadowlark Travel</title>
  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if}} 
  <script src="/js/jquery.js"></script>
  {{{_sections.head}}}
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" alpha-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}


    {{{body}}}
  </div>
  {{{_sections.jquery}}}

  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
